@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');

:root {
    --point-color: #907137;
    --bg-color: #000;
    --text-color: #000; 
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
  }

  #main-header {
    width: 100%;
    height: 54px;
    background: #333;
    position: fixed;
    top: 0;
  }
  
  main {
    margin-top: 70px;
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    background-size: 100%;
  }

  #info-header {
    height: 97px;
    /* outline: 1px solid red; */
  }

  #info-header #age {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 33px;
    font-weight: 700;
  }

  #info-header #title {
    outline: 1px solid red;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 700;
  }

  figure img {
    padding-top: 23px;
    outline: 1px solid red;
    width: 100%;
    /* height: 258px; */
    /* display: flex; */
    /* background-color: #ccc; */
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* outline: 1px solid red; */
    margin-top: 30px;
    height: 31px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
  }

  .buttons a {
    padding: 8px 36px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: #fff;
  }

  .buttons #point-btn {
    outline: 1px solid var(--point-color);
   }

  .buttons #basic-btn {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
  }

  .icon-btns {
    /* outline: 1px solid red; */
    height: 47px;
    width: 100%;
    color: #000;
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  .icon-btns a {
    color: #000;
  }

  #iconBtns-text{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }
  .text1{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }
  .text2{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }
  .text3{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  .info {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 700;
    /* outline: 1px solid red; */
    text-align: center;
  }

  .container .text {
    /* outline: 1px solid red; */
    margin-top: 30px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
  }

  .recommend {
    outline: 1px solid red;
    margin-top: 170px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .recommend h1 {
    font-size: 14px;
    font-weight: 700;
  }

  .recommend img {
    margin-top: 15px;
    width: 115px;
    height: 156px;
  }

  .recommend .col {
    text-align: center;
  }

  .recommend .movie-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .recommend .movie-col a {
    color: #000 ;
  }

  /* cast.html */
  .cast-container {
    /* display: block; */
    /* display: flex; */
    align-items: center;
    justify-items: center;
    outline: 1px solid red;
    width: 100%;
    height: 354px;
    margin-top: 35px;
    /* padding-left: 32px; */
    font-size: 12px;
    font-weight: 700;
  }

  .cast-container p { 
    padding-left: 32px;
  }

  .recommend-cast {
    outline: 1px solid red;
    margin-top: 70px;
    margin-bottom: 15px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
  }

  .recommend-cast h1 {
    margin-left: 32px;
    font-size: 14px;
    font-weight: 700;
  }

  .recommend-cast img {
    margin-top: 15px;
    width: 115px;
    height: 156px;
  }

  .recommend-cast .col {
    text-align: center;
  }

  .recommend-cast .movie-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .recommend-cast .movie-col a {
    color: #000 ;
  }

  /* main-footer */
  #main-footer {
    position: relative;
    background-color: var(--main-color);
    text-align: center;
    width: 100%;
    margin-top: 15px;
    
}
  
  #main-footer a {
    color: #fff;
  }
  
  #main-footer .sns-link {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #main-footer .sns-link a {
    margin-right: 1rem;
  }
  #main-footer .sns-link img{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
  }
  
  #main-footer .sns-link a:last-child {
    margin-right: 0;
  }

  #main-footer .footer-menu {
    font-size: 10px;
    margin-bottom: 5px;
  }
  
  #main-footer .footer-menu strong {
    font-weight: 500;
  }
  
  #main-footer .footer-menu span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 10px;
    opacity: 0.6;
    color: #fff;
  }

  #main-footer .copy{
    font-style: normal;
    font-weight: 350;
    font-size: 10px;
    line-height: 14px;
    color: #CCCCCC;
  }